#logoImg {
  width: 150px;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(59, 74, 91) 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.703);
}

#displayConatiner {
  width: 80% !important;
}

.dividLine {
  width: 95%;
  margin: 0.2rem auto;
  background-color: black;
}

.infoDiv {
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rightDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightDiv h1 {
  font-size: 30pt;
}
.rightDiv p {
  font-size: 18pt;
}

#booksCollection {
  width: 20rem;
  height: 15rem;
}

.btn {
  width: 4rem !important;
  opacity: 0.9;
}
.btn i {
  font-size: 18pt !important;
}

.btns {
  color: black !important;
}

.main {
  padding: 1rem;
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem;
}

#leftMain {
  display: flex;
  width: 30% !important;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#rightMain {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

#rightUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.input-group {
  width: 20rem !important;
}
.input-group .btn-outline-secondary {
  background-color: #eeaeca !important;
  color: black !important;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: bolder !important;
  color: black !important;
}

#addBookBtn {
  width: 6rem !important;
  background-color: #eeaeca !important;
  color: black !important;
  border-color: black !important;
}

.gridClass {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 250px !important;
}

.priceTag, .bookPrice {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: green !important;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
}

.card-img-top {
  height: 200px;
}

.sortBtns {
  font-size: 20pt !important;
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background: rgb(238, 174, 202);
}

span {
  font-size: 20pt !important;
}

.hidden {
  display: none !important;
}

.carImg {
  width: 100px !important;
}

.carousela {
  height: 30rem !important;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.imgsContainer {
  display: flex !important;
  gap: 0.5rem;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}

.arrows {
  height: 3rem;
  width: 5rem;
  padding: 0.5rem;
  z-index: 1000;
}
.arrows:hover {
  cursor: pointer;
  background-color: gray;
}

.activeImg {
  display: block;
  opacity: 1;
  height: 15rem !important;
  z-index: 100;
  overflow-block: initial;
}

.not-active {
  height: 12rem;
  opacity: 0.7;
  z-index: 0;
}

.listItem {
  background-color: rgba(255, 255, 255, 0.993);
  width: 100%;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 0.3fr;
  grid-template-rows: repeat(3, 2.5rem);
  row-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.listImg {
  width: 5rem;
  grid-row: 1/4 !important;
  justify-self: center;
  align-self: flex-start;
}

.btns {
  background-color: #eeaeca !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bookKeysword {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

.bookName {
  font-weight: bolder;
}

/*bookAuthor
bookDate*/
.bookKeysword {
  color: #eeaeca;
  font-weight: bolder;
}

#loginBtn {
  background-color: #eeaeca;
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px !important;
  font-weight: bold;
}

#AddBookDiv, #SearchBookDiv {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px !important;
}
#AddBookDiv p, #SearchBookDiv p {
  font-weight: bolder;
  margin-bottom: -5px;
}
#AddBookDiv span, #SearchBookDiv span {
  font-size: 12pt !important;
}

#addBookToStock {
  background-color: #eeaeca;
  border-color: black !important;
  color: black !important;
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 10rem !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px !important;
  font-weight: bold;
}/*# sourceMappingURL=styling.css.map */